drive .drivecontainer {

    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 32px;
    float: left;
    min-width: 400px;
    max-width: 400px;
    position: relative;

    img, span {
        float: left;
    }
    img {
        width: 80px;
        margin: 0 auto;
    }

    span {
        font-size: 20px;
        font-weight: 700;
        position: absolute;

        &:nth-child(3) {
            left: 108px;
            font-size: 12px;
            font-weight: 400;
            top: 40px;
            color: #CCC;
        }

        &:nth-child(2) {
            top: 16px;
            left: 108px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 136px;
        }

        &:nth-child(4) {
            left: 108px;
            top: 56px;
            font-size: 12px;
            color: #CCC;
            font-weight: 400;
        }
    }

    &:hover {
        box-shadow: 0 0 3px #999;
    }
}