folder .foldercontainer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    width: 180px;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    float: left;
    border-left: 3px solid #00cf1d;
    border-radius: 8px;
    font-weight: 700;
    background: #FFF;
    box-shadow: 0 0 32px #EEE;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        box-shadow: 0 0 16px #CCC;
        transition: all 0.2s ease;
    }
}