<div class="container">
    <titlebar></titlebar>
    <div class="header">
        <ul class="nav" ng-show="$ctrl.showNavOptions">
            <li class="fa fa-arrow-left" ng-click="$ctrl.goBack()"></li>
            <li class="fa fa-arrow-right" ng-click="$ctrl.goForward()"></li>
            <li class="fa fa-home" ng-click="$ctrl.goHome()"></li>
        </ul>
        <h1 class="currentlocation" ng-class="{small: $ctrl.crumb.length > 60}">{{$ctrl.crumb}}</h1>
    </div>

    <div class="content">
        <directory-item ng-repeat="item in $ctrl.currentList track by $index" details="item" ng-dblclick="$ctrl.changeDirectory(item.name, item.isDirectory)" ng-hide="$ctrl.isDiskPage"></directory-item>
        <drive ng-repeat="drive in $ctrl.driveList track by $index" details="drive" ng-show="$ctrl.isDiskPage" ng-dblclick="$ctrl.setPathValues(drive.Caption);$ctrl.changeDirectory(drive.Caption);"></drive>
    </div>
</div>