@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

h1, h2, h3, h4, h5, h6, p, div, span {
    font-family: "Roboto";
}

html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    cursor: default;
}
.container {
    height: 100vh;
    width: 100%;
    background: #fafafc;
    border-radius: 8px;

    .header {
        padding: 32px;
        padding-bottom: 2px;
        position: fixed;
        width: 100%;

        ul.nav {
            margin: 0;
            margin-left: 12px;
            padding: 0;
            display: inline-block;

            li {
                list-style: none;
                display: inline-block;
                padding: 4px 5px;
                cursor: pointer;
                border-radius: 3px;

                &:hover {
                    box-shadow: 0 0 3px #CCC;
                }
            }
        }

        .currentlocation {
            padding: 8px 16px;
            font-weight: 900;
            margin-bottom: 16px;
            margin-top: 0;
            &.small {
                font-size: 20px;
            }
        }
    }

    .content {
        box-sizing: border-box;
        width: 100%;
        height: 96vh;
        padding: 32px;
        padding-top: 2px;
        margin-top: 132px;
        overflow-y: auto;       
    }
}
* {
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */   
}