html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    cursor: default;
}
.container {
    height: 100vh;
    width: 100%;
    background: #FFF;
    border-radius: 8px;
}